.main {
  width: 1200px;
  margin: 100px auto 0;
}
.container {
  width: 830px;
  font-size: 13px;
}
.panel {
  margin-top: 10px;
}
.panel-header::after {
  content: '';
  display: block;
  height: 5px;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  background-color: #a31;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
.panel-header h2 {
  font-size: 18px;
  padding: 0 0 .2em .5em;
  font-weight: 700;
}
.panel-body {
  padding: 10px 10px 0 10px;
}
.panel-body img {
  width: 200px;
  height: 150px;
  float: left;
  margin-right: 10px;
}
.panel-body p {
  text-indent: 2em;
  text-align: justify;
  line-height: 1.4;
}


.picked-grid {
  margin-top: 10px;
  font-size: 0;
}
.picked-grid .list-item {
  margin: 10px 0 0 10px;
}
.picked-grid .list-item:first-child {
  margin-left: 0;
}
.picked-grid .list-item .single {
  display: block;
  border: 5px solid #444444;
  padding: 5px;
}
.picked-grid .list-item .single img {
  width: 250px;
  height: 300px;
  display: block;
}
.picked-grid .list-item .single p {
  margin-top: 10px;
}

.container article {
  margin-top: 10px;
  padding: 0 10px;
}
article header h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 2em;
}
article header .meta {
  border-top: 2px dotted #ccc;
  border-bottom: 2px dotted #ccc;
  padding: .5em 0;
}
.meta {
  color: #333;
}
.meta a {
  color: #000;
  cursor: pointer;
}
.meta a:hover {
  color: #fa0;
  text-decoration: none;
}
article .content {
  padding-bottom: 1em;
}
article .content p {
  padding:1em 0;
}
article .read-more {
  background: #fa0;
  color: #fff;
  padding: .5em 1.5em;
}
article footer {
  border-top: 2px dotted #ccc;
  border-bottom: 2px dotted #ccc;
}
article footer span {
  line-height: 2.5em;
}

  /*
  .container iframe{
    width: 100%;
    height: 100%;
  }*/